<div class="home">
  <h1 class="title">Continent quiz tech talk :)</h1>
  <h1 class="title">Continent quiz part 2 maybe</h1>
  <ng-container *ngIf="!gameStarted">
    <img src="/assets/images/logo.png" alt="" class="logo" />
    <app-scores [scores]="highscores"></app-scores>
    <form [formGroup]="nameForm" class="start-game">
      <mat-form-field
        class="mat-form-field"
        appearance="legacy"
        color="warn"
        hideRequiredMarker
      >
        <mat-label>Your Name</mat-label>
        <input type="text" matInput [formControl]="playerName" />
      </mat-form-field>
      <button [disabled]="nameForm.invalid" (click)="startGame()">
        Start Game
      </button>
    </form>
  </ng-container>
  <ng-container *ngIf="gameStarted">
    <img src="/assets/images/logo.png" alt="" class="background-logo" />
    <app-quiz (returnHome)="gameEnded()"></app-quiz>
  </ng-container>
</div>
