<div class="scores">
  <app-single-score
    [image]="'/assets/images/gold.png'"
    [score]="scores[0].score"
    [playerName]="scores[0].name"
  ></app-single-score>
  <app-single-score
    [image]="'/assets/images/silver.png'"
    [score]="scores[1].score"
    [playerName]="scores[1].name"
  ></app-single-score>
  <app-single-score
    [image]="'/assets/images/bronze.png'"
    [score]="scores[2].score"
    [playerName]="scores[2].name"
  ></app-single-score>
  <app-single-score
    [image]="'/assets/images/bronze.png'"
    [score]="scores[2].score"
    [playerName]="scores[2].name"
  ></app-single-score>
</div>
