<div class="quiz">
  <ng-container *ngIf="questions | async as allQuestions">
    <ng-container *ngIf="gameInProgress; else theEnd">
      <div class="question-number">Question {{ questionNumber }}</div>
      <div class="question">
        {{ allQuestions[questionNumber - 1].question }}
      </div>
      <img
        src="https://www.infoplease.com/sites/infoplease.com/files/inline-images/iStock-954597352.jpg"
        class="question-image"
      />
      <div
        *ngFor="
          let answer of selectAnswers(allQuestions[questionNumber - 1].answer)
        "
        class="answer"
        (click)="submitAnswer(answer.isRight)"
      >
        {{ answer.name }}
      </div>
      <mat-progress-bar
        mode="determinate"
        [value]="progress"
      ></mat-progress-bar>
    </ng-container>

    <ng-template #theEnd>
      <div class="the-end">
        <div class="the-end-message">{{ scoreToMessage() }}</div>
        <div class="the-end-score">{{ score }}</div>
      </div>
    </ng-template>
  </ng-container>
</div>
